<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>794893993518-3eqfh80i17ojsd33qti2ad7007c2b8j0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.794893993518-3eqfh80i17ojsd33qti2ad7007c2b8j0</string>
	<key>API_KEY</key>
	<string>AIzaSyDe6lPqFj94e2HynLXcYmjaaPmKzHAoFcI</string>
	<key>GCM_SENDER_ID</key>
	<string>794893993518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pop.foodApp</string>
	<key>PROJECT_ID</key>
	<string>analtic-fb</string>
	<key>STORAGE_BUCKET</key>
	<string>analtic-fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794893993518:ios:898b6e5968d25abe8d41bf</string>
	<key>DATABASE_URL</key>
	<string>https://analtic-fb.firebaseio.com</string>
</dict>
</plist>